PORT=4000
JWT_SECRET=intelligent_super_secret_2026
WEB_URL=https://intelligent.up.railway.app/
TELEGRAM_BOT_TOKEN=8461845773:AAFerI-5XUX2lUX6V1OQGob7WMbmonu5Nqc
TELEGRAM_BOT_USERNAME=@Intelligent_uz_bot
